/***      Shared      ***/

.social.share-pdf {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.social.share-pdf ul {
	list-style: none;
}

.social.share-pdf hr {
	width: 100%;
	background-color: #d2d2d2;
	border: none;
	margin-left: 1.5rem;
}

.social.share-pdf ul {
	padding-left: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.social.share-pdf ul li a {
	border-right: 1px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	display: block;
	padding: 0 10px;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	-webkit-transition: all .35s;
    -ms-transition: all .35s;
    transition: all .35s;
}

.social.share-pdf.blue ul li a {
	border-top: 1px solid #406680;
	border-right: 1px solid #406680;
	border-bottom: 1px solid #406680;
}

.social.share-pdf ul li a:hover i {
	color: #fff;
}

.social.share-pdf ul li:first-child a {
	border-left: 1px solid #d2d2d2;
}

.social.share-pdf.blue ul li:first-child a {
	border-left: 1px solid #406680;
}

.social.share-pdf ul li a span,
.social.share-pdf ul li a i {
	line-height: 0;
	-webkit-transition: all .35s;
    -ms-transition: all .35s;
    transition: all .35s;
   	color: #406680;
}

.social.share-pdf ul li a span {
	font-size: .9rem;
	margin-top: 1px;
	display: block;
	text-transform: uppercase;
}

.social.share-pdf ul > li > a:hover {
    background: #406680;
    border-color: #406680;
}

.social.share-pdf a:hover i,
.social.share-pdf a:hover span {
    color: #fff;
}

p.medium-p {
	font-weight: 400;
}

.download-pdf {
	margin-top: 3rem;
}

.download-pdf a {
	border: 1px solid #d5d5d5;
	color: #406680;
	padding: 1rem 2rem;
	-webkit-transition: all .35s;
    -ms-transition: all .35s;
    transition: all .35s;
}

.download-pdf a:hover {
	background-color: #406680;
	border-color: #406680;
	color: #fff;
}

.download-pdf a span {
	display: inline-block;
	margin-right: 1rem;
	text-transform: uppercase;
}

a.table-btn:before {
	display: none;
}

.table-btn em,
.table-btn i {
	font-size: 80%;
    margin-left: 10px;
}

.gradient-table,
.table-btn em.fa-minus,
.table-btn i.fa-minus {
	display: none;
}

.gradient-table table:last-child {
	margin-top: 0;
}

.gradient-table table,
.gradient-table thead {
	background: #2da4dc;
    background: -moz-linear-gradient(left, #2da4dc 0, #81c181 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2da4dc), to(#81c181));
    background: linear-gradient(90deg, #2da4dc 0, #81c181);
}

.gradient-table thead th,
.gradient-table thead th tr {
	border: none;
	text-transform: uppercase;
	color: #fff;
	padding: 5px 15px;
}  

.gradient-table tbody tr:nth-child(odd) {
	background-color: #e9ebf2;
}

.gradient-table tbody tr:nth-child(even) {
	background-color: #fff;
}

.tech-specs.gray-bg .gradient-table tbody tr:nth-child(odd) {
	background-color: #e2e5ed;
}

.tech-specs.gray-bg .gradient-table tbody tr:nth-child(even) {
	background-color: #ebedf3;
}

.gradient-table tbody td {
	border: none;
	padding: 5px 15px;
	position: relative;
}


.gradient-table thead th.valign-middle,
.gradient-table tbody td.valign-middle {
	vertical-align: middle;
}

.gradient-table tbody td.dotted-border-right:after {
	content: url("../img/sm-dots.png");
	position: absolute;
	left: 100%;
	top: 60%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.gradient-table tbody td.text-center i,
.gradient-table tbody td.text-center em {
	vertical-align: middle;
}

.gradient-table tbody td.blue {
	color: #2a88c9;
	font-weight: 300;
}

.check-icon:after {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f00c";
	font-weight: 900;
	color: #21bb7f;
}

.check-icon.dark-blue:after {
	color: #406680;
}

.text-right {
	text-align: right;
}

.margin-top-1 {
	margin-top: 1rem !important;
}

.margin-top {
	margin-top: 2.5rem !important;
}

.margin-bottom-0-5 {
	margin-bottom: .5rem !important
}

.margin-bottom-1 {
	margin-bottom: 1rem !important;
}

.margin-bottom-1-5 {
	margin-bottom: 1.5rem !important;
}

.margin-bottom-2 {
	margin-bottom: 2rem !important;
}

.margin-bottom {
	margin-bottom: 2.5rem !important;
}

.margin-bottom-3 {
	margin-bottom: 3rem !important;
}

.margin-bottom-4 {
	margin-bottom: 4rem !important;
}

.margin-bottom-5 {
	margin-bottom: 5rem !important;
}

.margin-top-4 {
	margin-top: 4rem !important;
}

.margin-top-5 {
	margin-top: 5rem !important;
}

.margin-right-1 {
	margin-right: 1rem !important
}

.mx-auto {
	margin: 0 auto;
}

.ml-10 {
	margin-left: 10px;
}

.padding-top-3 {
	padding-top: 3rem;
}

.padding-bottom {
	padding-bottom: 3.5rem;
}

.padding-bottom-5 {
	padding-bottom: 5rem;
}

.padding-y-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.px-5 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.px-15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.pr-5 {
	padding-right: 5px !important;
}

.pl-5 {
	padding-left: 5px !important;
}

.pr-15 {
	padding-right: 15px !important;
}

.pl-15 {
	padding-left: 15px !important;
}

.pl-45 {
	padding-left: 45px !important;
}

.pr-35 {
	padding-right: 35px !important;
}

.pl-35 {
	padding-left: 35px !important;
}

@media only screen and (max-width: 1024px) {
	.pr-mobile-15 {
		padding-right: 15px !important;
	}

	.pl-mobile-15 {
		padding-left: 15px !important;
	}
}

.overflow-x {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.d-none {
	display: none !important;
}

.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.justify-content-end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.justify-content-between {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.align-items-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.flex-wrap {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1 !important;
}

.mycontainer {
	width: 90%;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1722px;
}

a.plus-btn:before {
	width: 120%;
	height: 150%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	-webkit-transform: translate(-50%,-50%) scale(0);
	-ms-transform: translate(-50%,-50%) scale(0);
	-moz-transform: translate(-50%,-50%) scale(0);
	margin-left: 0;
}

a.plus-btn:hover:before {
	transform: translate(-50%,-50%) scale(1);
	-webkit-transform: translate(-50%,-50%) scale(1);
	-ms-transform: translate(-50%,-50%) scale(1);
	-moz-transform: translate(-50%,-50%) scale(1);
}

.padding-bottom-7 {
	padding-bottom: 7rem;
}

.justify-content-center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

@media only screen and (max-width: 1024px) {
	.text-center-mobile {
		text-align: center;
	}

	.d-mobile-none {
		display: none;
	}

	.d-mobile-block {
		display: block !important;
	}
}

.disclaimer-box.white-box-with-bg .box.animate[data-animation],
.new-box.white-box-with-bg .box.animate[data-animation] {
	left: 25%;
}

@media only screen and (max-width: 1026px) {
	.disclaimer-box.white-box-with-bg .box.animate[data-animation],
	.new-box.white-box-with-bg .box.animate[data-animation] {
		left: 0;
	}
}

/***     Header    ***/

header .social [class*=facebook]:hover,
header .social [class*=facebook]:hover:after,
header .social [class*=twitter]:hover,
header .social [class*=twitter]:hover:after,
header .social [class*=linkedin]:hover,
header .social [class*=linkedin]:hover:after,
header .social [class*=youtube]:hover,
header .social [class*=youtube]:hover:after {
	background: #406680;
	border-color: #406680;
}

/***    Footer    ***/

footer .bottom img {
	padding-left: 0;
}

footer a.square-btn.white:after {
	display: none;
}

footer .middle .square-btn {
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	padding: 0;
}


/***     New     ***/

.new-box {
	margin-top: -20%;
}

.new-box span {
	color: #436882;
	font-size: 1.12rem;
	text-transform: uppercase;
	font-weight: bold;
	font-weight: 500;
}

.new-box h1 {
	color: #3a3d3f;
	margin-top: .5rem;
	font-size: 1.8rem;
	text-align: left;
}

.new-box h3 {
	color: #436882;
	text-transform: none;
	font-size: 1.5rem;
}

.new-box ul.list {
	margin-bottom: 3rem;
}

.new-box ul.list {
  list-style: none; /* Remove default bullets */
}

.new-box ul.list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #436882; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: 17px; /* Also needed for space (tweak if needed) */
}

/***    Certifications    ***/

body.certifications {
	background-color: #ebedf3;
}

.certification {
	margin-bottom: 3rem;
	width: 100%;
}

.certification img {
	max-width: 100%;
}

.certification .row > div:last-child {
	padding: 2.5rem 2.1875rem 4.6875rem 2.5rem;
}

.certification h5 {
	color: #406680;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0 0 5px;
}

.certification h5.underline {
    -moz-transition: background-size .35s cubic-bezier(.645, .045, .355, 1);
    -webkit-transition: background-size .35s cubic-bezier(.645, .045, .355, 1);
    background-image: -moz-linear-gradient(left, #406680 0, #406680 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#406680), to(#406680));
    background-image: linear-gradient(90deg, #406680 0, #406680);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 0 1px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#406680", endColorstr="#406680", GradientType=1);
    padding-bottom: 1px;
    transition: background-size .35s cubic-bezier(.645, .045, .355, 1);
    display: inline;
}

.certification h5.underline:hover {
    background-size: 100% 1px;
}

.certification .center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 2.5rem 0;
}

@media only screen and (max-width: 1200px) {
	.certification .row > div:first-child {
		width: 100%;
	}
}

/***    Energy Unit Container    ***/

.system_components .system-components-list.banner-circles-list {
	min-height: 0;
	padding-bottom: 1.5rem;
}

.system_components .system-components-list li {
	color: #5e5e5e;
	line-height: 2.2;
}

.system_components .system-components-list li:before {
	color: #406680;
	line-height: 1.7;
}

.system_components .components ul {
	list-style: none;
}

.system_components .components ul li,
.system_components .components ul li span,
.system_components .components ul li img {
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (max-width: 576px) {
	.system_components .components ul li {
		display: block;
		text-align: left;
	}

	.system_components .components {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

.system_components .components ul li span {
	margin-right: 20px;
	margin-left: 10px;
}

.energy-unit-container-benefits {
	padding-bottom: 6%;
}

.energy-unit-container-benefits h5,
.energy-unit-container-benefits p {
 	color: #406680;
}

.energy-unit-container-benefits h5 {
	font-weight: 600;
	margin-top: 20px;
	font-size: 18px;
	margin-bottom: 0;
	text-transform: none;
}

.energy-unit-container-benefits p {
	-webkit-text-stroke: .35px rgba(0, 0, 0, .4);
    font-weight: 300;
}

.energy-unit-container-benefits .gradient-circle {
	max-width: none;
}

@media only screen and (min-width: 991px) {
	.energy-unit-container-benefits div.col-md-offset-0 {
		margin-left: 0 !important;
	}
}

@media only screen and (max-width: 640px) {
	.energy-unit-container-benefits h2.margin-bottom-5 {
		margin-bottom: 30px !important;
	}
}

/***    Cathodic Protection Unit    ***/

.tech-specs.gray-bg {
	background-color: #ebedf3;
}

.benefit-box > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 2.5rem;
}

.benefit-box > div > div:last-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    font-weight: 600;
    color: #406680;
    padding: 15px;
    font-size: 18px;
}

.available_models {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.available_models_mobile {
	display: none;
}

.news .gradient-circle .circle:after,
.benefit-box .gradient-circle .circle:after {
	background-color: #fff;
}

.available_models > div {
	line-height: 0;
	position: relative;
	margin-bottom: -1px;
}

.available_models > div {
	margin: 0 auto;
}

.available_models > div:last-child {
	margin-left: 1px;
	width: 100% !important;
}

.available_models > div.model {
	cursor: pointer;
	position: relative;
}

.model-svg {
	position: absolute;
	top: 50%;
	left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.model-svg svg {
	width: 100%;
	height: 100%;
}

.model-svg #SVG_1,
.model-svg #SVG_3 {
	transform: translate(13%,0);
	-webkit-transform: translate(13%,0);
	-ms-transform: translate(13%,0);
}

.model-svg #SVG_2 {
	transform: translate(13%,9%);
	-webkit-transform: translate(13%,9%);
	-ms-transform: translate(13%,9%);
}

.model-svg #SVG_4,
.model-svg #SVG_5 {
	transform: translate(13%,2%);
	-webkit-transform: translate(13%,2%);
	-ms-transform: translate(13%,2%);
}

.model-svg #SVG_6 {
	transform: translate(12%,-1%);
	-webkit-transform: translate(12%,-1%);
	-ms-transform: translate(12%,-1%);
}

.popover {
	position: absolute;
	padding: 1.4rem;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	min-width: 300px;
	text-align: left;
	line-height: 1;
	color: #fff;
	font-weight: 600;
	opacity: 0;
	transition: all .3s;
	-webkit-transition: all .3s;
	z-index: 99;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.popover span {
	font-size: 1rem;
	font-weight: 500;
	display: block;
	margin-top: 5px;
}

.model-dark-blue .popover {
	background-color: #4d7e9f;
}

.model-light-green .popover {
	background-color: #79c68a;
}

.model-gray .popover {
	background-color: #9ca8b1;
}

.model-dark-green .popover {
	background-color: #06cea6;
}

.model-light-blue .popover {
	background-color: #00b0f0;
}

.model-orange .popover {
	background-color: #f97d03;
}

.popover.left-pop {
	right: 92%;
}

.popover.right-pop {
	left: 92%;
}

.popover .pop-arrow.left-arrow {
	right: 99%;
}

.popover .pop-arrow.right-arrow {
	left: 99%;
}

.popover .pop-arrow {
	width: 0; 
	height: 0; 
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.popover .pop-arrow.left-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.model-dark-blue .pop-arrow.right-arrow {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;  
	border-left: 15px solid #4d7e9f;
}

.model-light-green .pop-arrow.left-arrow {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;  
	border-right: 15px solid #79c68a;
}

.model-gray .pop-arrow.right-arrow {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;  
	border-left: 15px solid #9ca8b1;
}

.model-dark-green .pop-arrow.right-arrow {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;  
	border-left: 15px solid #06cea6;
}

.model-light-blue .pop-arrow.left-arrow {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;  
	border-right: 15px solid #00b0f0;
}

.model-orange .pop-arrow.right-arrow {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;  
	border-left: 15px solid #f97d03;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.model-svg .path {
  -webkit-animation: dash 30s linear infinite;
  stroke-dasharray: 8;
}

.available_models img,
.benefit-box img {
	max-width: 100%;
}

@media only screen and (max-width: 1024px) {
	.available_models {
		display: none;
	}

	.available_models_mobile {
		display: block;
	}
}

@media only screen and (max-width: 991px) {
	.benefit-box > div,
	.benefit-box > div > div:last-child {
		display: block;
		text-align: center;
	}

	.overflow-x table {
		min-width: 1200px;
	}
}

@media only screen and (max-width: 767px) {
	.model br {
		display: none;
	}
}

@media only screen and (max-width: 640px) {
	.available_models {
		width: 95%;
	}
}

@media only screen and (max-width: 480px) {
	.model {
		margin-bottom: 2rem;
	}

	.model:last-child {
		margin-bottom: 0;
	}
}

/***    Projects Intro Page    ***/

.search-section .search-form {
	background-color: #ebebeb;
	padding: 1.5rem;
}

.search-section .search-form div[class^=col-] {
	padding: 0 10px;
}

@media only screen and (max-width: 1024px) {
	.search-section .search-form div[class^=col-]:first-child,
	.search-section .search-form div[class^=col-]:nth-child(2) {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 640px) {
	.search-section .search-form div[class^=col-]:nth-child(3) {
		margin-bottom: 20px;
	}
}

.search-section input,
.search-section select {
	width: 100%;
	text-indent: 20px;
	height: 3.5rem;
	border: none;
	color: #838383;
	/*-webkit-box-shadow: 0 8px 6px -6px #d9d9d9;
	   -moz-box-shadow: 0 8px 6px -6px #d9d9d9;
	        box-shadow: 0 8px 6px -6px #d9d9d9;*/
	        border-bottom: 2px solid #d9d9d9;
}

.search-section input:focus,
.search-section select:focus {
	outline: none;
	
}

.search-section select {
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url("../img/select-arrow.png") no-repeat center right 20px;
    background-color: #fff;
}

@media only screen and (max-width: 576px) {
	.search-section select {
		background-size: 7px;
	}
}


.projects-section {
	padding-bottom: 6rem;
}

.project-box[class^=col-] {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}

.project-box h5 {
	color: #406680;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 0;
}

.project-box h4 {
	font-size: 26px;
	color: #3f3f3f;
}

@media only screen and (max-width: 1400px) {
	.project-box h5 {
		font-size: 16px;
	}

	.project-box h4 {
		font-size: 22px;
	}
}

@media only screen and (max-width: 1200px) {
	.project-box h5 {
		font-size: 15px;
	}

	.project-box h4 {
		font-size: 20px;
	}

	.project-box .box-content span {
		font-size: .8rem;
	}

	.project-box a.plus-btn.black.slim {
		font-size: 13px;
	}
}

@media only screen and (max-width: 1000px) {
	.project-box h5 {
		font-size: 18px;
	}

	.project-box h4 {
		font-size: 26px;
	}

	.project-box .box-content span {
		font-size: .9rem;
	}

	.project-box a.plus-btn.black.slim {
		font-size: 14px;
	}
}

@media only screen and (max-width: 767px) {
	.project-box h5 {
		font-size: 16px;
	}

	.project-box h4 {
		font-size: 22px;
	}
}

@media only screen and (max-width: 640px) {
	.project-box h5 {
		font-size: 18px;
	}

	.project-box h4 {
		font-size: 26px;
	}
}


.project-box span {
    color: #a4a4a4;
    font-size: .9rem;
    line-height: 1.35;
    text-align: justify;
    text-transform: uppercase;
    display: block;
}

.projects-section.white-boxes .box-content {
	padding: 1.5rem 8%;
}

.projects-section.white-boxes .white-box.flex-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100%;
}

/***    Disclaimer    ***/

.disclaimer-box .box {
	background-color: #f6f6f6;
}

.disclaimer-box h5 {
	color: #4b5053;
	font-size: 1rem;
	letter-spacing: 0px;
}

/***    Exeron    ****/

@-webkit-keyframes circleTransition {
    from {
            -webkit-transform: scale(1);
                    transform: scale(1);
            opacity: 0.7;
        }
    to {
        -webkit-transform: scale(3);
                transform: scale(3);
        opacity: 0;
    }
}

@keyframes circleTransition {
    from {
            transform: scale(1);
            opacity: 0.7;
        }
    to {
        transform: scale(3);
        opacity: 0;
    }
}

.innerCircle {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: circleTransition;
            animation-name: circleTransition;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
}

.innerCircle2 {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: circleTransition;
            animation-name: circleTransition;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
}

.exeron-2 .img-container svg {
	position: absolute;
    width: 50px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.exeron-2 .img-container svg#Layer_1 {
	top: 40%;
    left: 72%; 
}

.exeron-2 .img-container svg#Layer_2 {
	top: 45.1%;
    left: 75%;
}

.exeron-2 .img-container svg#Layer_3 {
	top: 47.3%;
    left: 79%;
}

@media only screen and (max-width: 1024px) {
	.exeron-2 .img-container svg#Layer_1 {
		top: 41%;
	}

	.exeron-2 .img-container svg#Layer_2 {
		top: 45.6%;
	}

	.exeron-2 .img-container svg#Layer_3 {
		top: 47.4%;
	}
}

.exeron-2 .img-container a img {
	transition: all .3s;
	-webkit-transition: all .3s;
}

.exeron-2 .img-container a:hover img {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
}

/***    Management   ***/

.person h2 {
	color: #436882;
	text-align: left;
}

.person.white-box-with-bg .box {
	margin-top: 5%;
	padding: 6%;
}

.myoffset2 {
	margin-left: 3.5%;
}

.person.white-box-with-bg.right [data-animation][data-animation][data-animation=fade-right] {
    -moz-transform: translate(10px);
    -ms-transform: translate(10px);
    -webkit-transform: translate(10px);
    transform: translate(10px);
}

.person.white-box-with-bg.left [data-animation][data-animation][data-animation=fade-left] {
    -moz-transform: translate(-10px);
    -ms-transform: translate(-10px);
    -webkit-transform: translate(-10px);
    transform: translate(-10px);
}

.person.white-box-with-bg.left .box.animate[data-animation] {
    -moz-transform: translateX(15%);
    -ms-transform: translateX(15%);
    -webkit-transform: translateX(15%);
    transform: translateX(15%)
}

.person.white-box-with-bg.right .box.animate[data-animation] {
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%)
}

.person.white-box-with-bg .order-2 {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}

.person.white-box-with-bg .col-md-6:first-child {
	-moz-box-flex: 0;
    -ms-flex: 0 0 47%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 47%;
    flex: 0 0 47%;
    max-width: 47%;
}

.person.white-box-with-bg .col-md-6:last-child {
	-moz-box-flex: 0;
    -ms-flex: 0 0 53%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 53%;
    flex: 0 0 53%;
    max-width: 53%;
}

.person.white-box-with-bg .bg {
	background-position: top center;
	min-height: 450px;
}

@media only screen and (max-width: 1024px) {
	.person.white-box-with-bg .col-md-6:first-child {
		-moz-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
	}

	.person.white-box-with-bg .col-md-6:last-child {
		-moz-box-flex: 0;
	    -ms-flex: 0 0 90%;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 90%;
	    flex: 0 0 90%;
	    max-width: 90%;
	    margin: 0 auto;
	    margin-top: -15%;
	}
}

@media only screen and (max-width: 640px) {
	.person.white-box-with-bg .bg {
		min-height: 400px;
	}

	.person.white-box-with-bg .col-md-6:last-child {
	    margin-top: -10%;
	}
}

/***     Multimedia Gallery     ***/

.my-page-info .page-info {
	padding-bottom: 2rem;
}

.my-page-info .page-info p {
	margin-bottom: 0;
}

.my-multimedia-intro {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.my-swiper-container {
	position: relative;
}

.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gallery-top.swiper-container,
.gallery-top.swiper-container .swiper-wrapper  {
	  position: absolute;
	  top: 0;
	  left: 0;
}

.gallery-top.swiper-container {
	padding-bottom: 66.6%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 100%;
}

.gallery-top {
  width: 100%;
}

.gallery-thumbs {
  height:100%;
}

.gallery-thumbs .swiper-slide {
  width: 100%;
  opacity: 0.4;
  cursor: pointer;
}

.gallery-thumbs .swiper-slide:last-child {
    margin-bottom: 0 !important;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.next-swiper,
.prev-swiper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    cursor: pointer;
    margin-left: -10px;
}

.prev-swiper {
    bottom: 105%;
}

.next-swiper {
    top: 105%;
}

.swiper-button-next,
.swiper-button-prev {
	margin-top: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.swiper-button-next {
	right: 40px;
}

.swiper-button-prev {
	left: 40px;
}

@media only screen and (max-width: 991px) {
	.swiper-button-next {
		right: 20px;
	}

	.swiper-button-prev {
		left: 20px;
	}

	.swiper-button-next,
	.swiper-button-prev {
		height: 35px;
		background-size: 27px 35px;
	}
}

@media only screen and (max-width: 767px) {
	.swiper-button-next {
		right: 15px;
	}

	.swiper-button-prev {
		left: 15px;
	}

	.swiper-button-next,
	.swiper-button-prev {
		height: 30px;
		background-size: 27px 30px;
	}
}

@media only screen and (max-width: 526px) {
	.swiper-button-next {
		right: 10px;
	}

	.swiper-button-prev {
		left: 10px;
	}

	.swiper-button-next,
	.swiper-button-prev {
		height: 25px;
		background-size: 27px 25px;
	}
}

@media only screen and (max-width: 420px) {
	.swiper-button-next {
		right: 5px;
	}

	.swiper-button-prev {
		left: 5px;
	}
}


.swiper-button-next:focus,
.swiper-button-prev:focus {
	outline: none;
}

.video-gallery p {
	font-size: 1.5rem;
}

.video-gallery h6 {
	color: #3bafb4;
	font-size: 14px;
	letter-spacing: 0;
	margin-bottom: 0;
}

.video-gallery h6 span {
	font-weight: 600;
}

@media only screen and (max-width: 1024px) {
	.margin-top-mobile {
		margin-top: 65%;
	}
}

.my-multimedia-intro p {
	margin-bottom: 0;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-slider div[class^="col"],
.news-slider div[class^="col"] {
	box-sizing: border-box;
}

.video-pagination,
.news-pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.video-pagination span,
.news-pagination span {
	background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 5px;
    color: #436882;
    outline: none;
    opacity: 1;
}

.video-gallery .intro-link figure {
	padding-top: 0;
}

.video-gallery .intro-link figure img {
	max-width: 100%;
}

#myModal {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


#myModal .modal-content {
    background-color: #fefefe;
    padding: 20px;
    width: 50%;
    -webkit-animation-name: animatetop;
            animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#myModal .close {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
   	top: -15px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100%;
    cursor: pointer;
}

#myModal .close span {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	position: absolute;
	line-height: 1;
}

#myModal .close:hover span {
	opacity: .7;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 50%; opacity: 1}
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 50%; opacity: 1}
}

@media only screen and (max-width: 1400px) {
	#myModal .modal-content {
		width: 70%;
	}
}

@media only screen and (max-width: 1024px) {
	#myModal .modal-content {
		width: 80%;
	}
}

@media only screen and (max-width: 768px) {
	#myModal .modal-content {
		width: 90%;
	}

	#myModal .modal-content {
		padding: 10px;
	}

	#myModal .close {
		font-size: 23px;
	}
}

/***    Events Calendar    ***/

.my-events-calendar {
	padding-bottom: 4%;
}

.my-events-calendar .row {
	margin-bottom: 2rem;
}

.my-events-calendar .row:last-child {
	margin-bottom: 0;
}

.my-events-calendar .event-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 6rem;
	padding-bottom: 4rem;
	backface-visibility: hidden;
	position: relative;
}

.my-events-calendar .event-info:before, .my-events-calendar .event-info:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px rgb(119,119,119,.5);
  -moz-box-shadow: 0 15px 10px rgb(119,119,119,.5);
  box-shadow: 0 15px 10px rgb(119,119,119,.5);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  opacity: 0;
  transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
}

.my-events-calendar .event-info:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.my-events-calendar .event-info span {
	color: #436882;
	text-transform: uppercase;
}

.my-events-calendar .order-2 {
	-webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

@media only screen and (max-width: 1024px) {
	.my-events-calendar .order-2 {
	    -webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0;
	}
}

.my-events-calendar figure {
	padding-top: 86.09625668%;
	position: relative;
	height: 100%;
}

.my-events-calendar figure div {
	background-position: center center;
	background-color: #fff;
	background-size: contain;
}

.my-events-calendar > .container > .row> div.col-md-7 {
	transition: all .6s;
	-webkit-transition: all .6s;
	-ms-transition: all .6s;
}

@media only screen and (min-width: 1024px) {
	.my-events-calendar > .container > .row:hover > div.col-md-7 {
		-webkit-transform: scale(1.07);
		    -ms-transform: scale(1.07);
		        transform: scale(1.07);
	}

	.my-events-calendar > .container > .row:hover .event-info:before, .my-events-calendar > .container > .row:hover .event-info:after {
		opacity: 1;
	}
}

/***    Project    ***/

span.project-location {
	color: #454444;
    font-size: .9rem;
    line-height: 1.35;
    text-align: justify;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1.5rem;
}

.project-bg2.swiper-container,
.project-bg2.swiper-container .swiper-wrapper,
.project-img.swiper-container,
.project-img.swiper-container .swiper-wrapper {
	position: absolute;
}

.project-img.swiper-container,
.project-img.swiper-container .swiper-wrapper {
	top: 0;
	left: 0;
}

.project-bg2.swiper-container,
.project-bg2.swiper-container .swiper-wrapper {
	bottom: 0;
	right: 0;
}

.project-bg2.swiper-container,
.project-img.swiper-container {
	padding-bottom: 66.6%;
}

.project-bg2 {
	border-top: 30px solid #f6f6f6;
	border-left: 30px solid #f6f6f6;
	min-height: 300px;
	width: 200%;
}

.project-controls {
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    background: #406680;
    border-radius: 40px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    left: 77.5%;
    bottom: 10%;
    padding: .75rem 1.5625rem;
    position: absolute;
    width: 11.25rem;
    z-index: 3;
    min-height: 40px;
}

@media only screen and (max-width: 1640px) {
	.project-bg2 {
		width: 250%;
	}

	.project-controls {
		left: 68.7%;
	}
}

@media only screen and (max-width: 1200px) {
	.project-bg2 {
		min-height: 250px;
	}
}

.project-controls .ctrl {
	-webkit-box-shadow: none;
    background: transparent;
    border: 0;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    height: 3.125rem;
    min-width: 40px;
    outline: 0;
    position: relative;
    width: 3.125rem;
}

.project-controls .ctrl:before {
	-khtml-opacity: 0;
    -moz-opacity: 0;
    -moz-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    background: #000;
    border-radius: 50%;
    content: "";
    display: block;
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s ease;
    width: 100%;
}

.project-controls:after {
	-moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-right: 1px dashed #76a3c1;
    content: "";
    height: 50%;
    left: 50%;
    margin-left: 1px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.project-controls .ctrl:hover:before {
	-khtml-opacity: .1;
    -moz-opacity: .1;
    filter: alpha(opacity=10);
    opacity: .1;
}

.project-controls .btn-next {
	float: right;
}

.project-controls .btn-prev {
	float: left;
}

.project-controls .swiper-button-next.swiper-button-white,
.project-controls .swiper-button-prev.swiper-button-white {
	background: none;
}

.project-info {
	margin-top: -60px;
	position: relative;
	z-index: 1;
}

.project-info .project-info-container {
	width: 95%;
	margin: 0 auto;
}

.project-info .project-info-container .row > div:last-child {
	margin-top: 60px !important;
}

@media only screen and (max-width: 1024px) {
	.project-info {
		margin-top: 60%;
	}

	.project-info .project-info-container .row > div:last-child {
		margin-top: 0 !important;
	}

	.project-info .project-info-container {
		width: 100%;
	}
}

.project-white-box {
	background-color: #fff;
	padding: 2rem 4rem;
}

.project-white-box h5 {
	color: #3a3d3f;
	font-size: 20px;
	text-transform: none;
	font-family: Stag Sans, sans-serif, serif, Helvetica;
	font-weight: 300;
}

.project-white-box h2 {
	color: #3a3d3f;
	font-size: 36px;
	font-weight: 300;
}

.project-white-box h6 {
	color: #406680;
	font-size: 18px;
	text-transform: uppercase;
}

.project-white-box hr {
	background-color: #e4e8ea;
	height: 2px;
	border: none;
	position: relative;
}

.project-white-box hr:after {
	content: "";
	background-color: #406680;
	height: 2px;
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.project-info .swiper-slide .row > div:last-child {
	margin-top: 60px;
}

.project-description {
	padding: 3rem 4rem;
}

.project-description2 {
	padding: 5rem 4rem;
}

.project-description h3,
.project-description2 h3 {
	color: #406680;
	font-size: 24px;
	margin-bottom: 1.2rem;
}

.project-description h5,
.project-description2 h5 {
	color: #406680;
	font-size: 18px;
	font-family: Stag Sans, sans-serif, serif, Helvetica;
	font-weight: 400;
	margin-bottom: 0;
	text-transform: none;
}

.project-description2 span {
	font-size: 18px;
}

.project-description2 > div {
	padding-bottom: 1rem;
	border-bottom: 1px dotted #406680;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
	.project-white-box h2 {
		font-size: 27px;
	}

	.project-white-box h5 {
		font-size: 18px;
	}

	.project-description h5,
	.project-description2 h5,
	.project-description2 span,
	.project-white-box h6 {
		font-size: 16px;
	}

	.project-description,
	.project-description2 {
		padding: 2rem 4rem;
	}

	.project-description h3,
	.project-description2 h3 {
		font-size: 22px;
	}
}

@media only screen and (max-width: 1024px) {
	.project-description,
	.project-description2 {
		padding: 1rem 4rem;
	}

	.project-controls {
		background: none;
		left: auto;
		right: 1rem;
		box-shadow: none;
	}

	.project-controls:after {
		border-color: #fff;
	}
} 

/***    Industrial    ***/

.industrial-benefits.banner-circles-list ul {
	text-align: center;
}

.industrial-benefits.banner-circles-list li {
	padding-left: 0;
}

.industrial-benefits.banner-circles-list li:before {
	position: static;
	margin-right: 1.5rem;
}

.industrial-carousel h3 {
	font-size: 24px;
	font-weight: 300;
}

.industrial-carousel p {
	color: #747474;
	font-size: 14px;
}

.industrial-carousel a.plus-btn.slim {
	text-transform: none;
	font-weight: 300;
	margin-bottom: .5rem;
	font-size: 20px;
	display: block;
}

.industrial-carousel a.plus-btn.slim div {
	border: 1px solid #406680;
	display: inline-block;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	position: relative;
	vertical-align: middle;
	margin-left: 5px;
}

.industrial-carousel a.plus-btn.slim div i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	font-size: 14px;
	z-index: 10;
	display: block;
	transition: -webkit-transform .35s ease-in;
    transition: transform .35s ease-in;
    transition: transform .35s ease-in, -webkit-transform .35s ease-in, -moz-transform .35s ease-in;
    -moz-transition: transform .35s ease-in, -moz-transform .35s ease-in;
    -webkit-transition: -webkit-transform .35s ease-in;
}

.industrial-carousel a.plus-btn.slim:before {
	display: none;
}

.industrial-carousel a.plus-btn.slim div:after {
    -moz-transform: scale(0);
    -moz-transform-origin: center;
    -moz-transition: transform .2s ease-in, -moz-transform .2s ease-in;
    -ms-transform: scale(0);
    -ms-transform-origin: center;
    -webkit-transform: scale(0);
    -webkit-transform-origin: center;
    -webkit-transition: -webkit-transform .2s ease-in;
    border-radius: 50%;
    content: "";
    height: 1.875rem;
    left: -1px;
    position: absolute;
    top: -1px;
    transform: scale(0);
    transform-origin: center;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in, -moz-transform .2s ease-in;
    width: 1.875rem;
    z-index: 1;
    background: #406680;
}

.industrial-carousel a.plus-btn.slim:hover div:after {
	-moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
}

.industrial-carousel a.plus-btn.slim:hover i {
	color: #fff;
}

.industrial-carousel .owl-dots {
	padding-top: 1rem;
}

.industrial-carousel .owl-stage {
	margin: 0 auto;
}

#solutionsCarousel .item-top .bg span {
    -moz-backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
    -moz-transition: transform .4s cubic-bezier(.55, .085, .68, .53), -moz-transform .4s cubic-bezier(.55, .085, .68, .53);
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .4s cubic-bezier(.55, .085, .68, .53);
    backface-visibility: hidden;
    background: #fff;
    display: block;
    left: 5%;
    position: absolute;
    right: 5%;
    top: 7%;
    transform-style: preserve-3d;
    transition: -webkit-transform .4s cubic-bezier(.55, .085, .68, .53);
    transition: transform .4s cubic-bezier(.55, .085, .68, .53);
    transition: transform .4s cubic-bezier(.55, .085, .68, .53), -webkit-transform .4s cubic-bezier(.55, .085, .68, .53), -moz-transform .4s cubic-bezier(.55, .085, .68, .53);
}

#solutionsCarousel .item-top .bg span:first-child {
	-moz-transform: scaleX(0);
    -moz-transform-origin: center;
    -ms-transform: scaleX(0);
    -ms-transform-origin: center;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: center;
    height: 1px;
    transform: scaleX(0);
    transform-origin: center;
    width: 90%;
}

#solutionsCarousel .item-top .bg span:nth-child(2), #solutionsCarousel .item-top .bg span:nth-child(3) {
    -moz-transform: scaleY(0);
    -moz-transform-origin: bottom;
    -ms-transform: scaleY(0);
    -ms-transform-origin: bottom;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: bottom;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    width: 1px;
}

#solutionsCarousel .item-top .bg span:nth-child(3) {
	left: auto;
}

#solutionsCarousel .solutions-item:hover .item-top .bg span,
#solutionsCarousel .solutions-item:hover .bg {
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
} 

#solutionsCarousel .solutions-item:hover .item-bottom {
	background-color: #fff;
}

/***   Cookies    ***/

#cookies {
	background-color: #f4f4f4;
	border-radius: 5px;
	max-width: 400px;
	right: 2rem;
	bottom: 2rem;
	left: auto;
	padding: 2rem 2rem 1rem 2rem;
	text-align: left;
}

#cookies > div {
	padding-bottom: 1rem;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: .5rem;
}

#cookies h3 {
	font-size: 30px;
	color: #517891;
	text-transform: none;
	letter-spacing: 0;
	letter-spacing: -4px;
	font-weight: 300;
}

#cookies p {
	font-size: 16px;
	font-weight: 300;
	color: #676767;
}

#cookies #acceptCookies {
	float: right;
	color: #fff;
	background-color: #517891;
	font-size: 16px;
}

@media only screen and (max-width: 576px) {
	#cookies {
		max-width: 90%;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		right: auto;
	}
}

/***    All News     ***/

.search-section-news {
	padding-top: 0;
	padding-bottom: 0;
}

@media only screen and (max-width: 1024px) {

	.search-section-news .search-form div[class^=col-]:first-child, .search-section .search-form div[class^=col-]:last-child {
		margin-bottom: 0;
	}

}

@media only screen and (max-width: 640px) {

	.search-section-news .search-form div[class^=col-]:first-child {
		margin-bottom: 20px;
	}

}

.news-all-section {
	padding-top: 2rem;
}

.news-all-section .news-all-new {
	margin-bottom: 1rem;
}

.news-all-section .news-all-new .new-content {
	padding: 1rem 0;
}

.news-all-section .news-all-new .new-content h5 {
	font-size: 14px;
	color: #807f7f;
	font-weight: 300;
	margin-bottom: 0;
}

.news-all-section .news-all-new .new-content h4 {
	font-size: 24px;
	color: #436882;
	word-spacing: -7px;
} 

.news-all-section .news-all-new .new-content p {
	font-size: 14px;
	margin-bottom: 1rem;
}

.news-all-section .news-all-new .new-content a:before {
	display: none;
}

@media only screen and (max-width: 767px) {

	.news-all-section .news-all-new .new-content h4 {
		font-size: 20px;
	} 

	.news-all-section .news-all-new .new-content p,
	.news-all-section .news-all-new .new-content a,
	.news-all-section .news-all-new .new-content h5 {
		font-size: 12px;
	}

}

@media only screen and (max-width: 640px) {

	.news-all-section .news-all-new .new-content h4 {
		font-size: 24px;
	} 

	.news-all-section .news-all-new .new-content p,
	.news-all-section .news-all-new .new-content a,
	.news-all-section .news-all-new .new-content h5 {
		font-size: 14px;
	}

}

ul.news-pagination {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0;
}

ul.news-pagination li a {
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin: 0 5px;
	color: #436882;
}

ul.news-pagination li a.active,
.video-pagination span.swiper-pagination-bullet-active {
	background-color: #436882;
	color: #fff;
}

/***     CV_FORM     ***/

.cv-form {
	padding-top: 2rem;
}

.cv-form .row {
	margin-bottom: .5rem;
}

.cv-form label {
	display: block;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.cv-form label:before {
	-moz-transition: max-width .3s ease,margin .3s ease;
    -webkit-transition: max-width .3s ease,margin .3s ease;
    background: #ebccd1;
    content: "";
    display: inline-block;
    height: 2px;
    margin: 4px 0;
    max-width: 0;
    transition: max-width .3s ease,margin .3s ease;
    width: 100%;
}

.cv-form input,
.cv-form select,
.cv-form textarea {
	outline: none;
	border: none;
	width: 100%;
}

.cv-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.cv-form select::-ms-expand {
  display: none;
}

.cv-form textarea {
	resize: none;
	background-color: #ededed;
	height: 8rem;
	padding: 10px;
}

.cv-form select {
	background: url("../img/arrow-down-blue.png") no-repeat center right 20px;
}

.cv-form h3 {
	font-size: 24px;
	font-weight: 300;
	text-transform: capitalize;
	font-family: Stag Sans, sans-serif, serif, Helvetica;
}

.cv-form hr {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	background-color: #e1e1e1;
	border: none;
	margin-left: 2rem;
}

.cv-form .position label,
.cv-form .cv label {
	font-size: 16px;
	text-transform: capitalize;
}

.cv-form .position select {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	border: none;
	padding: 1rem 1.5rem;
	background-color: #fff;
	margin-left: 4rem;
}

.cv-form .personal-data input,
.cv-form .personal-data select,
.cv-form .education-level input:not([type="checkbox"]),
.cv-form .education-level select,
.cv-form .foreign-languages input:not([type="checkbox"]),
.cv-form .foreign-languages select,
.cv-form .working-experience input:not([type="checkbox"]),
.cv-form .working-experience select {
	height: 2.2rem;
	background-color: #f6f6f6;
	border-bottom: 1px solid #bebebe;
	transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	text-indent: 10px;
}

.cv-form .personal-data input:focus,
.cv-form .education-level input:not([type="checkbox"]):focus,
.cv-form .foreign-languages input:not([type="checkbox"]):focus,
.cv-form .working-experience input:not([type="checkbox"]):focus {
	border-bottom: 2px solid #406680;
}

.inputfile {
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}

.inputfile,.labelfile {
    color: #434648;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 1.5rem;
    font-weight: 400;
    margin-left: 7rem;
}

.labelfile {
	margin-right: 1rem;
}

.labelfile span,
span.file-error {
	color: #434648;
	font-size: 16px;
	text-transform: none;
}

.file-error {
	padding: 10px 0;
}

.cv-form .education-level label,
.cv-form .education-level input[type="checkbox"],
.cv-form .foreign-languages label,
.cv-form .foreign-languages input[type="checkbox"],
.cv-form .working-experience label,
.cv-form .working-experience input[type="checkbox"] {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

input.checkbox {
	-webkit-appearance: none;
	background-color: #fff;
	border: none;
	box-shadow: 0 1px 2px #e5e5e5;
	padding: 9px;
	border-radius: 3px;
	margin-right: .5rem;
	position: relative;
}

input.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	color: #406680;
}

.cv-form a {
	background-color: #436882;
	border: none;
	outline: none;
	padding: .6rem 1.3rem;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	cursor: pointer;
}

.cv-form a i {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	margin-top: -4px;
	margin-left: .5rem;
}

.cv-form a.cv-submit-btn {
	text-transform: uppercase;
	padding: 1rem 2rem 1rem 1.5rem;
	display: inline-block;
}

.cv-form a.cv-submit-btn i {
	font-size: 16px;
	margin-left: 0;
	margin-right: 10px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cv-form a.cv-submit-btn:hover i {
	transform: translateX(4px);
	-webkit-transform: translateX(4px);
	-ms-transform: translateX(4px);
}

@media only screen and (max-width: 1400px) {
	.cv-form .position {
		display: block;
	}

	.cv-form .position label {
		margin-bottom: .5rem;
	}

	.cv-form .position select {
		margin-left: 0;
	}
}

@media only screen and (max-width: 640px) {
	.cv-form a.cv-submit-btn {
		margin-top: 1rem;
	}
}

input.error {
	border-bottom: 2px solid #ebccd1 !important;
}

label.error {
	color: #a94442;
}

.cv-form label.error:before {
	margin: 4px 5px;
    max-width: 15px;
}

.g-recaptcha.error {
	border: 2px solid #ebccd1 !important;;
}

.ui-datepicker {
	border: none;
	padding: 0;
}

.ui-datepicker-title span {
	font-family: Stag Sans, sans-serif, serif, Helvetica;
}

.ui-datepicker table {
	margin: 0 0 1em;
}

.ui-datepicker .ui-datepicker-header {
	background: #f6f6f6;
    border: none;
   	color: #353535;
   	border: none;
}

.ui-datepicker .ui-datepicker-calendar,
.ui-datepicker .ui-datepicker-calendar td a {
	color: #353535;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	background: #f6f6f6;
	transition: none;
	-webkit-transition: none;
	-ms-transition: none;
	border: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
.ui-state-hover, .ui-widget-content .ui-state-hover  {
	background: #436882;
	color: #fff !important;
	border: none;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
	background: #fff;
}

/***     Ε-LIBRARY     ***/

.e-library.certification .row > div:last-child {
	padding: 2.5rem 0 4.6875rem 0;
}

.e-library .row > div:first-child img {
	box-shadow: 2px 2px 2px #c6c8cd;
}

@media only screen and (max-width: 1024px) {
	.e-library.certification .row > div:last-child {
		text-align: center;
		padding: 0;
	}

	.e-library.certification .row > div:last-child div.d-flex {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}